<h1>
  Edit question category #<%= @question_category.id %>
</h1>

<hr>

<!-- Form question_category start -->
<form action="/update_question_category/<%= @question_category.id %>" method="post">
<!-- Form question_category end -->

  <!-- Label and input for question_id start -->
  <div class="form-group">
    <label for="question_id">
      Question
    </label>

    <!-- Input for question_id start -->
    <input type="text" id="question_id" name="question_id" class="form-control" value="<%= @question_category.question_id %>">
    <!-- Input for question_id end -->
  </div>
  <!-- Label and input for question_id end -->

  <!-- Label and input for category_id start -->
  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <!-- Input for category_id start -->
    <input type="text" id="category_id" name="category_id" class="form-control" value="<%= @question_category.category_id %>">
    <!-- Input for category_id end -->
  </div>
  <!-- Label and input for category_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update question category
  </button>
</form>

<hr>

<a href="/question_categories">
  Go back
</a>
