<h1>
  Add a new question category
</h1>


<hr>

<!-- Form question_category start -->
<form action="/create_question_category" method="post">
<!-- Form question_category end -->

  <!-- Label and input for question_id start -->
  <div class="form-group">
    <label for="question_id">
      Question
    </label>

    <!-- Input for question_id start -->
    <%= select_tag(:question_id, options_from_collection_for_select(Question.all, :id, :question, @question_category.question_id), :class => "form-control") %>
    <!-- Input for question_id end -->
  </div>
  <!-- Label and input for question_id end -->

  <!-- Label and input for category_id start -->
  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <!-- Input for category_id start -->
    <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :category_name, @question_category.category_id), :class => "form-control") %>
    <!-- Input for category_id end -->
  </div>
  <!-- Label and input for category_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create question category
  </button>
</form>

<hr>

<a href="/question_categories">
  Go back
</a>
