<h1>
  Edit reflexion question #<%= @reflexion_question.id %>
</h1>

<hr>

<form action="/update_reflexion_question/<%= @reflexion_question.id %>" method="post">

  <div class="form-group">
    <label for="question_id">
      Question
    </label>

    <%= select_tag(:question_id, options_from_collection_for_select(Question.all, :id, :question, @reflexion_question.question_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="reflexion_question">
      Reflexion question
    </label>

    <input type="text" id="reflexion_question" name="reflexion_question" class="form-control" value="<%= @reflexion_question.reflexion_question %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update reflexion question
  </button>
</form>

<hr>

<a href="/reflexion_questions">
  Go back
</a>
