<% if @user_type.errors.any? %>
  <% @user_type.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit user type #<%= @user_type.id %>
</h1>

<hr>

<form action="/update_user_type/<%= @user_type.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @user_type.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update user type
  </button>
</form>

<hr>

<a href="/user_types">
  Go back
</a>
