<h1>
  Edit user type #<%= @user_type.id %>
</h1>

<hr>

<!-- Form user_type start -->
<form action="/update_user_type/<%= @user_type.id %>" method="post">
<!-- Form user_type end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @user_type.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update user type
  </button>
</form>

<hr>

<a href="/user_types">
  Go back
</a>
