<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Questions
  </div>

  <ul class="list-group list-group-flush">
    <% @category.questions.each do |question| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/questions/<%= question.id %>">
          <%= question.question %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
