<h1>
  Edit user question #<%= @user_question.id %>
</h1>

<hr>

<form action="/update_user_question/<%= @user_question.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @user_question.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="question_id">
      Question
    </label>

    <%= select_tag(:question_id, options_from_collection_for_select(Question.all, :id, :question, @user_question.question_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update user question
  </button>
</form>

<hr>

<a href="/user_questions">
  Go back
</a>
