<form action="/create_question_category_from_question" method="post">

  <input type="hidden" name="question_id" value="<%= @question.id %>">

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :category_name, @question_category.category_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create question category
  </button>
</form>
