<!-- Form user_question start -->
<form action="/create_user_question_from_question" method="post">
<!-- Form user_question end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @user_question.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for question_id start -->
  <!-- Input for question_id start -->
  <input type="hidden" name="question_id" value="<%= @question.id %>">
  <!-- Input for question_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create user question
  </button>
</form>
