<form action="/create_reflexion_question_from_question" method="post">

  <input type="hidden" name="question_id" value="<%= @question.id %>">

  <div class="form-group">
    <label for="reflexion_question">
      Reflexion question
    </label>

    <input type="text" id="reflexion_question" name="reflexion_question" class="form-control" value="<%= @reflexion_question.reflexion_question %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create reflexion question
  </button>
</form>
