<form action="/create_user_question_from_question" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @user_question.user_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="question_id" value="<%= @question.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create user question
  </button>
</form>
