<h1>
  Edit question #<%= @question.id %>
</h1>

<hr>

<form action="/update_question/<%= @question.id %>" method="post">

  <div class="form-group">
    <label for="question">
      Question
    </label>

    <input type="text" id="question" name="question" class="form-control" value="<%= @question.question %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update question
  </button>
</form>

<hr>

<a href="/questions">
  Go back
</a>
