<!-- Validation failure messages -->
<% if @question.errors.any? %>
  <% @question.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit question #<%= @question.id %>
</h1>

<hr>

<!-- Form question start -->
<form action="/update_question/<%= @question.id %>" method="post">
<!-- Form question end -->

  <!-- Label and input for question start -->
  <div class="form-group">
    <label for="question">
      Question
    </label>

    <!-- Input for question start -->
    <input type="text" id="question" name="question" class="form-control" value="<%= @question.question %>">
    <!-- Input for question end -->
  </div>
  <!-- Label and input for question end -->

  <button class="btn btn-block btn-outline-secondary">
    Update question
  </button>
</form>

<hr>

<a href="/questions">
  Go back
</a>
