<h1>
  Add a new question
</h1>


<hr>

<form action="/create_question" method="post">

  <div class="form-group">
    <label for="question">
      Question
    </label>

    <input type="text" id="question" name="question" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create question
  </button>
</form>

<hr>

<a href="/questions">
  Go back
</a>
