<h1>
  Add a new question
</h1>


<hr>

<!-- Form question start -->
<form action="/create_question" method="post">
<!-- Form question end -->

  <!-- Label and input for question start -->
  <div class="form-group">
    <label for="question">
      Question
    </label>

    <!-- Input for question start -->
    <input type="text" id="question" name="question" class="form-control">
    <!-- Input for question end -->
  </div>
  <!-- Label and input for question end -->

  <button class="btn btn-block btn-outline-secondary">
    Create question
  </button>
</form>

<hr>

<a href="/questions">
  Go back
</a>
