<% if @question.present? %>
  <% if @question.errors.any? %>
    <% @question.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new question
</h1>


<hr>

<form action="/create_question" method="post">

  <div class="form-group">
    <label for="question">
      Question
    </label>

    <input type="text" id="question" name="question" class="form-control" value="<%= @question.question %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create question
  </button>
</form>

<hr>

<a href="/questions">
  Go back
</a>
