<h1>
  Edit question tip #<%= @question_tip.id %>
</h1>

<hr>

<form action="/update_question_tip/<%= @question_tip.id %>" method="post">

  <div class="form-group">
    <label for="question_id">
      Question
    </label>

    <%= select_tag(:question_id, options_from_collection_for_select(Question.all, :id, :question, @question_tip.question_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="content">
      Content
    </label>

    <input type="text" id="content" name="content" class="form-control" value="<%= @question_tip.content %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update question tip
  </button>
</form>

<hr>

<a href="/question_tips">
  Go back
</a>
